In [2]:
import requests
import pandas as pd

In [8]:
response = requests.get("http://api.bcb.gov.br/dados/serie/bcdata.sgs.4447/dados?formato=json")
response = response.json()

pd.DataFrame(ipca for ipca in response)

           data  valor
0    01/01/1992  24.81
1    01/02/1992  24.23
2    01/03/1992  21.14
3    01/04/1992  21.11
4    01/05/1992  26.08
..          ...    ...
347  01/12/2020   1.58
348  01/01/2021   0.63
349  01/02/2021   0.73
350  01/03/2021   0.59
351  01/04/2021   0.47

[352 rows x 2 columns]